.timer {
    text-align: center;
    
}

.timer_text {
    font-size: 120pt;
    color: black; 
}

.minutes {
    display:inline-block;
    margin-right:20px;
}

.seconds {
    display: inline-block;
}

.buttons {
    text-align: center;
}

.quotes {
    padding-top:50px;
    padding-left:50px;
    padding-right:50px;
    text-align:center;
}