.landingPage {
    padding-top: 50px;
    padding-left: 400px;
}

.signIn {
    display:inline-block;margin-right:20px;
}

.signUp {
    display: inline-block;
}
.pom{
    size: 5%
}

.welcomeMessage{
    font-size: 450%;
    font-weight: bold;
    padding-bottom: 5px;
}

.tomato {
    text-align: center;
    padding-left: 100px;
}