.user{

    text-align: center;
    font-size: 24pt;
    /* font-weight: bold; */
}
.header{

    font-size: 24pt;
    text-align: left;
    padding: 0px  0px  10px 50px;
}

.blank{

    font-size: 12pt;
    padding: 20px  0px  0px 50px;
}